@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply overflow-x-hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  @apply w-3/4 mx-auto;
}

.title {
  @apply text-center text-3xl font-semibold uppercase;
}

.input-field {
  @apply w-full border border-gray-300 rounded-md h-9 px-3;
}

.input {
  @apply flex flex-col gap-1 w-full;
}

.input {
  label {
    @apply text-sm;
  }
}